* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: rgb(239, 241, 236);
    color: #0a0a0a;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  /* Navbar */
  nav {
    padding: 15px 0;
  }
  
  nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(126, 199, 52);
  }
  
  nav h1 {
    color: white;
    font-size: 24px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  /* Header Section */
  header {

    background-image: url("p.jpeg.jpeg.jpeg") ;
    color:rgb(22, 24, 22) ;
    padding: 325px ;
    text-align:center;
  }
  
  header h2 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  header p {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  header .btn-cta {
    background-color: #ff6f61;
    color: white;
    padding: 12px 25px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
  }
  
  header .btn-cta:hover {
    background-color: #df3522;
  }
  
  /* Form Section */
  .form-section {
    background-color: #f8f7f7;
    padding: 40px 0;
    text-align: center;
  }
  
  .form-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  form {
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
  }
  
  form label {
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
  }
  
  form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  form input[type="date"] {
    cursor: pointer;
  }
  
  form .btn-submit {
    width: 100%;
    padding: 15px;
    background-color: #0077b6;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  form .btn-submit:hover {
    background-color: #080808;
  }
  
  /* Contact Section */
  .contact-section {
    background-color: #f1f1f1;
    padding: 40px 0;
    text-align: center;
  }
  
  .contact-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .contact-section p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  /* Footer */
  footer {
    background-color: rgb(107, 170, 44);

    color: white;
    text-align: center;
    padding: 20px 0;
  }
  
  footer p {
    font-size: 16px;
  }